<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>136400863379-fb2vtbtu5265pokcrm0r1vvbgkuhk328.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.136400863379-fb2vtbtu5265pokcrm0r1vvbgkuhk328</string>
	<key>API_KEY</key>
	<string>AIzaSyDNZZfU3Mf5I3hJZ5vg_PF2pu4ywqOQKy0</string>
	<key>GCM_SENDER_ID</key>
	<string>136400863379</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.thidarphyo.VideoUploader</string>
	<key>PROJECT_ID</key>
	<string>videouploader-ebbe9</string>
	<key>STORAGE_BUCKET</key>
	<string>videouploader-ebbe9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:136400863379:ios:d271dde680a9d795374d66</string>
</dict>
</plist>